<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Retros</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  </head>
  <body>
    <h1>R e t r o s</h1>

    <% if (retros.length > 0) { %>
      <div class="retros">
        <% for(var i = 0; i < retros.length; i++) { %>
          <div class="retro">
            <p><%= retros[i].day%></p>
            <p><strong>Learnt: </strong><%= retros[i].learnt%></p>
            <p><strong>Successes: </strong><%= retros[i].successes%></p>
            <p><strong>Challenges: </strong><%= retros[i].challenges%></p>
            <p><strong>Goals: </strong><%= retros[i].goals%></p>
          </div>
        <% } %>
      </div>
    <% } %>

    <form action="/retros" method="post">
      <label for="day">Date </label>
      <input type="date" name="day">
      <p>What did you learn yesterday?</p>
      <textarea name="learnt" rows="8"></textarea>
      <p>What were your successes?</p>
      <textarea name="successes" rows="8"></textarea>
      <p>What did you find challenging?</p>
      <textarea name="challenges" rows="8"></textarea>
      <p>What do want you to learn today?</p>
      <textarea name="goals" rows="8"></textarea>
      <input type="submit" value="submit">
    </form>

  </body>
</html>
