<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Retros</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  </head>
  <body>
    <h1>R e t r o s</h1>

    <% if (retros.length > 0) { %>
      <div class="retros">
        <% for(var i = 0; i < retros.length; i++) { %>
          <div class="retro">
            <h3><%= retros[i].project%></h3>
            <p><strong>Successes: </strong><%= retros[i].successes%></p>
            <p><strong>Challenges: </strong><%= retros[i].challenges%></p>
            <p><strong>Learnt: </strong><%= retros[i].learnt%></p>
            <p><strong>Puzzles: </strong><%= retros[i].goals%></p>
          </div>
        <% } %>
      </div>
    <% } %>

    <form action="/retros" method="post">
      <p>Project</p>
      <input type="text" name="project">
      <p>What went well?</p>
      <textarea name="successes" rows="8"></textarea>
      <p>What didn't go so well?</p>
      <textarea name="challenges" rows="8"></textarea>
      <p>What have I/we learnt?</p>
      <textarea name="learnt" rows="8"></textarea>
      <p>What still puzzles me/us?</p>
      <textarea name="goals" rows="8"></textarea>
      <input type="submit" value="submit">
    </form>

  </body>
</html>
